%h1#headAbt About Us

%body#abtUs
%p#bodyAbt Smart Budget is an web application created solely for students like you!!<br>College in itself is hectic, taking care of your budget on top of that can be stressful. <br>

%table
    %th#tag For more information and to speak with a representative
    %tr 
        %td Help line
        %td 1.877.702.1090 <br>
    %tr 
        %td Email us
        %td cloud_sunshine@icloud.comgitt